*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #fffbe6;
	color: #356859;
}

a {
	text-decoration: none;
	color: inherit;
}

.navbar-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.navbar-container > li:hover {
	border-bottom: 2px solid #37966f;
	cursor: pointer;
}

.navbar-container > li {
	color: #fd5523;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	margin: 15px;
	padding: 0 5px;
	border-bottom: 2px solid #37966e36;
}

.navbar-container > li.nav-counter {
	font-size: 20px;
	font-weight: 600;
}

.card-container {
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.card {
	width: 30vw;
	max-width: 500px;
	height: auto;
	background-color: #b9e4c9;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 3px 3px #37966e33;
	color: #fd5523;
}

.card > h2 {
	color: #fd5523;
	text-align: center;
	font-weight: 500;
	border-radius: 5px;
}

.card > h2:hover {
	background-color: #35685952;
}

.list-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 50vh;
}

.list-info-controls {
	margin-top: auto;
	display: flex;
	flex-direction: column;
}

.list-info > ul {
	list-style: none;
	color: black;
}

.list-info > ul > li {
	padding: 1px;
	padding-left: 5px;
	border-radius: 5px;
}

.list-info > ul > li:hover {
	background-color: #35685931;
	cursor: pointer;
}

.list-info-controls > input {
	margin-top: 20px;
	margin-bottom: 5px;
	padding-left: 5px;
	border-radius: 5px;
	height: 24px;
	border: none;
}

.list-info-controls > button {
	border-radius: 5px;
	border: none;
	cursor: pointer;
	background-color: #fd5523;
	color: white;
	font-size: 16px;
}

@media (max-width: 800px) {
	.navbar-container {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.navbar-container > li {
		font-size: 14px;
		white-space: nowrap;
	}
	.navbar-container > li.nav-counter {
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		order: 1;
	}
	.card-container {
		flex-direction: column;
		align-items: center;
		margin-bottom: 10vh;
	}
	.card {
		width: 80vw;
		margin: 10px 0;
	}
	.list-info {
		font-size: 14px;
	}
}
